.activeTodo {
    border: none;
    font-size: 1.1rem;
    padding-top: 10px;
    overflow: hidden;
    resize: none;
}

.activeTodoDiv {
    font-size: 1.2rem;
    font-weight: bold;
}

.addNew {
    background-color: #007bff;
    border: none;
    color: white;
}

.blackkkk {
    color: black;
}

button {
    border-radius: 5px;
    background-color: #343a40;
    color: #49f7ae;
}

.calender {
    // margin-top: 50px;
    margin: auto;
    margin-bottom: 50px;
}

.chooseDate {
    min-width: 50px;
    font-size: 20px;
    color: #004a99;

}

.deleteX {
    font-size: 1.1rem;
    color: #004a99;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    text-decoration-color: grey;
}

.done2 {
    color: grey;
}

.grey {
    color: grey;
}

.greyIcons {
    color: #49f7ae;
}

.inputAndTextArea {
    border-bottom: 1px dotted black;
}

.inputTypeNumber {
    direction: rtl;
    border: none;
    // margin-bottom: -10px;
    margin-left: -10px;
    max-width: 50px;
}

.notes {
    height: 300px;
}

.onfucus:focus {
    height: 200px;
    overflow-y: scroll;
    resize: vertical;
}

.react-calendar__tile {
    height: 50px;
}

.sideBar {
    position: absolute;
    z-index: 2;
    // background-color: rgb(226, 226, 226);
    // border-right: 1px solid black;
}

.toggleButton {
    position: left;
}

.toggleOffButton {
    float: right; 
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
