

// html, body {
//     height: 100%;
// }
.Link {
    color: #49f7ae
}
button {
    border-radius: 5px;
    border: 2px solid #343a40;
    background-color: #343a40;
    color: #49f7ae;
}

button:hover {
    border: 3px solid #343a40;
    border-radius: 5px;
    background-color: #49f7ae;
    color: #343a40;
    font-weight: 600;
}

// id

#howtoLeft {
    overflow-y: auto;
    min-height: 100%;
}
#howtoMiddle {
    border: 1px solid black;
    
}
#howtoRight {
    border: 1px solid black;

}

#addDayButtons {
    border: none;
    background-color: white;
    color: #343a40;
}

#addDayButtons:hover {
    border: none;
    background-color: #343a40;
    color: #49f7ae;
}

#addDayButtons {
    border: none;
    background-color: white;
    color: #343a40;
}

#dropDownDate{
    font-size: .78rem;
    font-weight: 600;
    padding-left: -2px;
    padding-right: -2px;
    // padding-top: 5px;
    // padding-bottom: 5px;
    // margin-left: -7px;
}

#dropDownList {
    margin-left: -20px;
}

#dropDownMR {
    margin-right: -70px;
}

// #dropdowntoggle{
//     max-height: 35px;
//     max-width: 35px;
//     min-height: 35px;
//     min-width: 35px;
// }

#hobbyCont {
    margin-left: 25%;
}

#loginBackground {
    background-color: rgba(255, 255, 255, 0.801);
    background-size: cover;
    z-index: 10;
    padding-bottom: 200px;
    // max-width: 100%;
}

#caret {
    font-size: 1.8rem;
    background: none;
    border: none;
    width: 30px;
    float: right;
    cursor: pointer;
    color: #00ff95;
}

#loginBox {
    box-shadow: 15px 15px 25px 0px #343a40;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

#NFNB {
    color: #00ff95;
    position: absolute;
    z-index: 4;
    background-color: rgba(43, 43, 43, 0.65);
    height: 100%;
    border-right: 1px dotted black;
    overflow-y: auto;
}

#sideBarCheckbox {
    float: right;
    margin-top: 10px;
    margin-right: 30px
}

#sideBarFolder {
    cursor: pointer;
    border-bottom: 1px solid #00ff95;
}

#sideBarFoldercollapsed {
    cursor: pointer;
}

#sideBarThot {
    background-color: #343a4000;
    color: white;
    height: 30px;
    overflow: hidden;
    resize: none;
}

#shadowHobbyView {
    z-index: -1;
    width: 100%;
}

#textareaautosize {
    border-left: 1px dotted black;
}

#timezone-offset {
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
    border-radius: 5px;
}

#thotdotLabel {
    margin-left: -50px;
    
}

#visiting {
    cursor: pointer;
}

#welcomespan2 {
    font-weight: bold;
    font-size: 2.4rem;
    color: #343a40;
    margin-top: -30px;
}

#welcomespan {
    font-weight: bold;
    font-size: 2.4rem;
    color: #343a40;
    // margin-top: 600px;
    // padding: 12px;
    // background-color: #49f7af57;
    // border-radius: 10px;
    // box-shadow: 0px 0px 10px 5px #49f7af56;
}

// className

// .howtoCont  {
//     min-height: 100%;
// }

.activeTodo {
    border: none;
    font-size: 1.1rem;
    padding-top: 10px;
    overflow: hidden;
    resize: none;
    min-width: 260px;
    border-left: 1px dotted black;
}

.activeTodoDiv {
    font-size: 1.2rem;
    font-weight: bold;
}

.addNew {
    border-bottom: 1px solid black;
}

.Absolute {
    position: absolute;
}

.blackkkk {
    color: black;
}

.bg0pacity {
    background-color: rgba(255, 255, 255, 0);
}

.borderBottomRight {
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.cursorPointer {
    cursor: pointer;
}

.calender {
    // margin-top: 50px;
    margin: auto;
    margin-bottom: 50px;
}

.chooseDate {
    min-width: 50px;
    font-size: 20px;
    color: #004a99;

}

.cogWheel {
    background-color: white;
    color: black;
    border: none;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    padding: 5px 25px 5px 25px;
    z-index: 2;
}

.datePickerr {
    width: 20px;
}

.deleteX {
    font-size: 1.1rem;
    color: #004a99;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    text-decoration-color: grey;
}

.done2 {
    color: grey;
}

.dropdowntoggle {
    max-width: 5px;
    max-height: 5px;
}

.dropdowntogglee {
    position: absolute;
    margin-top: -20px;
    margin-left: -15px;
    z-index: 2;
}

.grey {
    color: #343a40;
}

.greyIcons {
    color: #49f7ae;
}

.inputTypeNumber {
    // direction: rtl;
    border: none;
    // margin-bottom: -10px;
    font-size: small;
    margin-left: -10px;
    max-width: 50px;
}

.inputTypeNumber2 {
    border: none;
}

.marginLeft {
    margin-left: 55px;
}

.marginTop6 {
    margin-top: 150px;
}

.navFloat {
    margin-left: 58%;
    margin-top: -40px;
    color: rgba(255, 255, 255, 0);
}

.navFloat2 {
    margin-top: -40px;
    color: rgba(255, 255, 255, 0);
    margin-left: 39%;
}

.notes {
    height: 300px;
    margin: auto;
}

.newTaskDatePicker {
    z-index: 3;
}

.onfucus:focus {
    height: 200px;
    overflow-y: scroll;
    resize: vertical;
    z-index: 5;
}

.Opacity {
    opacity: 0;
}

.react-calendar__tile {
    height: 50px;
}

.react-calendar__month-view__weekdays {
    background-color: white;
    font-weight: bold;
    text-decoration: none;
}

.Right {
    margin-left: 80%;
    z-index: 10;
    cursor: pointer;
}

.sideBar {
    position: absolute;
    z-index: 10;
    margin-top: 50px;
    // margin-right: 73.5%;
}

.stretch {
    min-width: 100%;
}

.submitButton {
    margin: auto;
}

.textOpacity {
    color: rgba(255, 255, 255, 0.801);
}

.toggleButton {
    float: left;
}

.toggleOffButton {
    float: right;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.toggleClosed {
    cursor: pointer;
    border: none;
    background-color: white;
}

.toggleOpen {
    cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
}
